JWT_SECRET=your-secret-key-here

AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=your-password
AUTH_DB_NAME=auth

ACCOUNT_DB_USER=postgres
ACCOUNT_DB_PASSWORD=your-password
ACCOUNT_DB_NAME=account

PRODUCT_DB_USER=postgres
PRODUCT_DB_PASSWORD=your-password
PRODUCT_DB_NAME=product

ORDER_DB_USER=postgres
ORDER_DB_PASSWORD=your-password
ORDER_DB_NAME=orders
